header {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
    height: 25vh;
    img {
        width: 100px;
        margin-top: 10px;
    }

    ul {
        list-style: none;
        li {
            font-family: 'Architects Daughter';
            padding: 5px 10px;
            .nav-link.disabled {
                color: #a0a0a0;
            }
        }
    }
}