@import './header';

main.container#home {
    display: flex;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
    .img {
        height: 80vh!important;
        width: 80%!important;
        border-radius: 20px;
        background-image: url('/my-princess/photos/2.jpg');
        background-size: cover;
        background-color: #fff;
    }
    aside.text-container {
        padding: 0 50px;
        form {
            display: flex;
            flex-direction: column;
            label {
                margin-bottom: 20px;
            }
            div {
                width: 100%;
                align-items: center;
                display: flex;
                input {
                    width: 80%;
                    border-radius: 20px 0px 0px 20px;
                    border: none;
                    padding: 7px;
                }
                .btn {
                    width: 20%;
                    border-radius: 0px 20px 20px 0px;

                }
            }
        }
    }
}