button.to-top-btn {
    border: none;
    background: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
    a {
        color: #f0f0f0;
        i {
            font-size: 32px;
        }
    }
}